@import url("https://fonts.googleapis.com/css?family=Jura:700|Open+Sans+Condensed:300|Ubuntu+Mono:700&display=swap&subset=cyrillic,cyrillic-ext");

body {
    background: url("../images/green_dust_scratch.png");
}

.social {
    position: fixed;
    top: 30px;
    right: 35px;
    width: 597px;
    height: 124px;
    opacity: 0.8;
    background: #ccc;
    color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.social:hover {
    transform: scale(1.1);
    transition: 1s ease-in;
}

.usernames {
    position: absolute;
    top: 80px;
    right: 60px;
    width: 400px;
    height: 100px;
    font-family: monospace;
    font-size: 18px;
}

.social ul {
    position: absolute;
    top: 10px;
    right: 21px;
    list-style: none;
}

.social li {
    display: inline;
    padding: 10px;
}

.text {
    position: absolute;
    top: 130px;
    right: 27px;
    width: 543px;
    height: 160px;
    background: #ccc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
    font-size: 20px;
    font-style: italic;
}

.social:hover .text {
    transform: scale(1.1);
    transition: 1s ease-in;
    display: block;
}

h1 {
    font-family: 'Jura', sans-serif;
    font-size: 40px;
    color: darkblue;
}

hr {
    border-style: solid;
    border-color: darkblue;
    border-width: 1.5px;
    opacity: 0.7;
}

.image1 {
    border-style: solid;
    border-radius: 25px;
    border-color: azure;
}

h2 {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 30px;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
}


figure {
    margin-top: 30px;
    margin-bottom: 30px;
}

footer {
    text-align: center;
    margin-top: 30px;
}

a {
    cursor: pointer;
}