.image-link {
    display: inline-block;
    width: 163px;
    height: 137px;
    background: url("../images/sprite.gif") 0 0 no-repeat;
    cursor: pointer;
}
.image-link.vk {
    background-position:0 0;
}
.image-link.vk:hover {
    background-position:0 -129px;
}
.image-link.facebook {
    background-position:-142px 0;
}
.image-link.facebook:hover {
    background-position:-142px -129px;
}
.image-link.twitter {
    background-position: -284px 0;
}
.image-link.twitter:hover {
    background-position: -284px -129px ;
}
.image-link.mail-ru {
    background-position: -426px -0px;
}
.image-link.mail-ru:hover {
   background-position: -426px -129px;
}