body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background: #ccc;
    text-align: center;
}

nav {
    float: left;
    width: 170px;
    height: 100%;
    padding: 20px 0;
    background: lightpink;
}

nav ul {
    list-style: none;
}

nav ul li {
    padding: 10px 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

aside {
    float: right;
    width: 170px;
    height: 100%;
    padding: 20px 0;
    background: greenyellow;
}

.main-content {
    height: 100%;
    margin-left: 180px;
    width: 70%;
    padding: 20px 0;
    background: yellow;
}

nav h3 {
    text-align: center;
}

aside h3 {
    text-align: center;
}

.main-content h2 {
    text-align: center;
}

.main-content figure {
    float: left;
}

.clearfix:after {
    content: ' ';
    clear: both;
    display: block;
}

footer {
    background: orchid;
    text-align: center;
}

@media screen and (max-width: 1195px ) {
    aside {
        width: 30%;
        height: 30%;
        float: none;
        margin-left: 181px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 870px ) {
    .main-content figure {
        float: none;
        text-align: center;
    }
}

@media screen and (max-width: 620px) {
    .container {
        width: 620px;
        height: 100%;
    }
}

