.container {
    max-width: 1200px;
    margin: 0 auto;
}

.social {
    margin-bottom: 20px;
}

.social ul {
    list-style: none;
}

.social li {
    display: inline-block;
    padding-right: 5px;
    font-size: 40px;
}

.social li:hover {
    transform: scale(1.25);
    transition: 0.7s ease-in;
}

.social i {
    color: green;
}

main svg ellipse {
    fill: cornflowerblue;
}

.ellipse-1 {
    fill: white;
}

main svg polygon {
    fill: white;
}

main line {
    stroke: cornflowerblue;
    stroke-width: 20;
}

.ellipse-2 {
    fill: orangered;
}

.ellipse-3 {
    fill: orange;
}

.ellipse-4 {
    fill: cornflowerblue;
}

.ellipse-5 {
    fill: white;
    stroke: cornflowerblue;
    stroke-width: 20;
}

.line-2 {
    stroke: white;
    stroke-width: 70px;
}

.line-3 {
    stroke: mediumseagreen;
}

.line-5 {
    stroke: orangered;
}

